@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #3f3f3f;
}
h1 {
    font-size: 5vw;
}